/*  */
/*  */
/* elements */
body {
    
    background-color:#1a294e;
}

h1 {
    
    font-family:monospace;
    color: #4141fc;
   
}

a {
    text-decoration: none;
}

/* classes */
.rel {
   
    font-size: 25px;
    padding: 50px;
    text-align: center;
    margin: 0px auto;
    border: #1a294e 5px solid;
    background-color: #ccdbfd ;
    font-family:monospace;
    font-weight: bold;
    
    
}

.title-main {
    background-color: #1a294e;
    padding: 12px;
    font-size: 19px;
}

.title-main h1{
    color: #ccdbfd;
}

.link-des a{
    color: #1a294e;
}