/*  */
/*  */
/* elements */
body {  
    background-color:#ffc09f;
    font-family:monospace;
}



a {
    text-decoration: none;
}

img {
    width: 300px;
   height: 400px;
   padding: 10px;
   border: 1px solid #fffbe3;
   background: #fffbe3;
   margin: 0;
}

/* classes index.html */
.rel {
   
    font-size: 35px;
    padding: 50px;
    text-align: center;
    margin: 0px auto;
    border: #ffc09f 5px solid;
    background-color: #fffbe3 ;
    font-family:monospace;
    font-weight: bold;
    
    
}

.title-main {
    background-color: #ffc09f;
    padding: 12px;
    font-size: 19px;
}

.title-main h1{
    color: #fffadc;
}

.link-des a{
    color: #faa87b;
}

.title-rec{
    text-align: center;
    border: #fffadc 3px solid;
    margin-bottom: 12px;
    background-color:#fffadc;
    color: #faa87b;
}

.food-parts {
    
    background: #fffadc;
    padding: 12px;
    margin: 12px;
}

.description.food-parts {
    background-color: #ffc09f;
}

.include {
    display: inline-flex;
}