body {
    
    background-color: #edf2fb;
}

h1 {
    text-align: center;
    font-family:monospace;
    color: blue;
    margin-bottom: 50px;
}

button {
    background-color: #ccdbfd ;
    font-family:monospace;
    font-weight: bold;
}
a {
    text-decoration: none;
}


.rel {
    font-size: 20px;
    padding: 15px;

}

button.rel {
    width: 400px;
    margin: 10px auto;
    border: #abc4ff 5px solid;
    display: block;


}

.food {
    text-align: center;
}

.foodname {
    background-color: blue;
    color: white;
    width:fit-content;
    margin:auto;
}
h1.title-main {
    padding:10px;
    border-bottom: solid #abc4ff 5px ;
}